hcp-mobile-app/.idea
__pycache__
hcp-mobile-app/node_modules/**/*
hcp-mobile-app/.expo/*
hcp-mobile-app/npm-debug.*
hcp-mobile-app/*.jks
hcp-mobile-app/*.p12
hcp-mobile-app/*.key
hcp-mobile-app/*.mobileprovision
hcp-mobile-app/.expo-shared
